<div class="container mt-5">
    <form [formGroup]="employeeForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input
            charOnly
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 
              'invalid': employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched, 
              'valid': employeeForm.get('name')?.valid
            }" 
            id="exampleInputEmail1" >
            <span *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched"> Name is required</span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 
                'invalid': employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched, 
                'valid': employeeForm.get('email')?.valid
              }" 
              id="exampleInputEmail1" >
              <span *ngIf="!employeeForm.get('email')?.errors?.email && employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched"> Email is required</span>
              <span *ngIf="employeeForm.get('email')?.errors?.email"> Email is invalid</span>
          </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Salary</label>
            <input type="number" formControlName="salary" class="form-control" id="exampleInputEmail1" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Age</label>
            <input type="email" formControlName="age" class="form-control" id="exampleInputEmail1"  >
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">State</label>
            <select class="form-select" aria-label="Default select example" formControlName="state" (change)="getDistricts()">
                <option *ngFor="let state of states" [value]="state.state_id" >{{ state.state_name}}</option>
            </select>
        </div>

        <div class="mb-3" *ngIf="districts.length">
            <label for="exampleInputEmail1" class="form-label">District</label>
            <select class="form-select" aria-label="Default select example" formControlName="district" (change)="getCenters()">
                <option *ngFor="let district of districts" [value]="district.district_id" >
                    {{ district.district_name}}
                </option>
            </select>
        </div>

        <div class="mb-3" *ngIf="centers.length">
            <label for="exampleInputEmail1" class="form-label">Centers</label>
            <select class="form-select" aria-label="Default select example" formControlName="center">
                <option *ngFor="let center of centers" [value]="center.center_id" >
                    {{ center.name}}
                </option>
            </select>
        </div>
        <!-- [disabled]="employeeForm.invalid" -->
        
        <button type="button" class="btn btn-primary" (click)="addEmployee()">Submit</button>
    </form>
</div>


<div>
    {{  '1993-2-1' | date:'fullDate' }}
    <!-- {{ text | shorten: 20 }} -->
</div>