
<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">search</label>
  <input type="text"  class="form-control" id="exampleInputEmail1" [(ngModel)]="searchLetter">
</div>

<div>
  <ul>
    <li *ngFor="let letter of letters | letterSearch: searchLetter ">
      {{letter}}
    </li>
  </ul>
</div>
<button type="button" (click)="addLetter()">Add Letter A</button>
<hr>

<div class="container mt-5">

<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">search</label>
  <input type="text"  class="form-control" id="exampleInputEmail1" [(ngModel)]="searchText">
</div>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Salary</th>
          <th scope="col">Age</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let employee of employees | searchEmployee: searchText; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{employee.employee_name}}</td>
          <td>{{employee.employee_salary}}</td>
          <td>{{employee.employee_age}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning" (click)="onEdit(employee.id)">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item ">
        <a class="nav-link " routerLink="payroll">Payroll Employee List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contract">Contract Employee List</a>
    </li>
</ul>

<router-outlet></router-outlet> -->

<!-- 
<app-payroll-employee></app-payroll-employee>
<app-contract-employee></app-contract-employee> -->